<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<form action="{% url 'student_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="first_name">
    <br>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="last_name">
    <br>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age">
    <br>
    <label for="characteristics">Characteristics:</label>
    <textarea id="characteristics" name="characteristics"></textarea>
    <br>
    <label for="file">Select:</label>
    <input type="file" id="file" name="photo">
    <br>
    <input type="submit" value="Create">
</form>
</body>
</html>